<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spotify App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        // Arreglos de canciones
        let tracks = [];
        let originalTracks = [];

        async function buscarCancion() {
            const query = document.getElementById('query').value;
            const response = await fetch('/search', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: `query=${query}`
            });
            const data = await response.json();
            tracks = data;
            originalTracks = [...data];
            mostrarCanciones(tracks);
            cargarArtistasUnicos(tracks);
            cargarFavoritos();
        }

        function mostrarCanciones(tracks) {
            const table = document.getElementById('results');
            table.innerHTML = '';
            tracks.forEach(track => {
                const row = document.createElement('tr');
                // Desglosamos track.url para poder insertarlo como widget.
                const trackId = track.url.split('/').pop();
                const iframeSrc = `https://open.spotify.com/embed/track/${trackId}`;
                // Cargamos datos
                row.innerHTML = `
                    <td> ${track.artist} </td>
                    <td> ${track.name} </td>
                    <td> <img src="${track.image}" width="50"> </td>
                    <td>
                        <iframe style="border-radius:12px" src="${iframeSrc}" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                    </td>
                    <td>
                        <button onclick="addToFavorites('${trackId}')" class="btn btn-success">Favorito</button>
                        <button onclick="ocultar(this)" class="btn btn-danger">Ocultar</button>
                    </td>

                `;
                table.appendChild(row);
            });
        }

        function cargarArtistasUnicos(tracks) {
            const artistSelect = document.getElementById('artistFilter');
            artistSelect.innerHTML = '<option value="">Todos los artistas</option>'; // Opción por defecto
            const artistasUnicos = [...new Set(tracks.map(track => track.artist))]; // no se repiten artistas
            artistasUnicos.forEach(artist => {
                const option = document.createElement('option');
                option.value = artist;
                option.textContent = artist;
                artistSelect.appendChild(option);
            });
        }

        function filtrarCanciones() {
            const artistFilter = document.getElementById('artistFilter').value.toLowerCase();
            const songFilter = document.getElementById('songFilter').value.toLowerCase();
            const filteredTracks = tracks.filter(track => 
                track.artist.toLowerCase().includes(artistFilter) &&
                track.name.toLowerCase().includes(songFilter)
            );
            mostrarCanciones(filteredTracks);
        }

        function ocultar(button) {
            button.closest('tr').style.display = 'none';
        }

        function reiniciarTabla() {
            tracks = [...originalTracks];
            mostrarCanciones(tracks);
            document.getElementById('artistFilter').value = '';
            document.getElementById('songFilter').value = '';
        }

        function mostrarJSON() {
            const jsonContent = document.getElementById('jsonContent');
            jsonContent.textContent = JSON.stringify(tracks, null, 2);
            $('#jsonModal').modal('show');
        }

        function addToFavorites(trackId) {
            let favorites = JSON.parse(localStorage.getItem('favorites')) || [];
            if (!favorites.includes(trackId)) { // Se guarda solamente track_id
                favorites.push(trackId);
                localStorage.setItem('favorites', JSON.stringify(favorites));
                alert('Canción añadida a favoritos');
                cargarFavoritos(); // Recargar la lista de favoritos
            } else {
                alert('La canción ya está en favoritos');
            }
        }

        async function cargarFavoritos() {
            // Solamente en local del navegador
            const favorites = JSON.parse(localStorage.getItem('favorites')) || [];
            const table = document.getElementById('favorites');
            table.innerHTML = '';

            for (const trackId of favorites) {
                const track = await obtenerTrack(trackId);
                if (trackId) {
                    const iframeSrc = `https://open.spotify.com/embed/track/${trackId}`;
                    const row = document.createElement('tr');
                    row.innerHTML = `
                        <td>${track.artist}</td>
                        <td>${track.name}</td>
                        <td><img src="${track.image}" width="50"></td>
                        <td>
                            <iframe style="border-radius:12px" src="${iframeSrc}" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </td>
                        <td>
                            <button onclick="removeFromFavorites('${trackId}')" class="btn btn-warning">Quitar</button>
                        </td>
                    `;
                    table.appendChild(row);
                }
            }
        }

        async function obtenerTrack(trackId) {
            // Primero buscamos en tracks cargados
            let track = tracks.find(t => t.url.split('/').pop() === trackId);
            // Si no encontramos, buscamos mediante la API
            if (!track) {
                const response = await fetch(`/track/${trackId}`);
                track = await response.json();
            }
            return track;
        }

        function removeFromFavorites(trackId) {
            let favorites = JSON.parse(localStorage.getItem('favorites')) || [];
            favorites = favorites.filter(fav => fav !== trackId);
            localStorage.setItem('favorites', JSON.stringify(favorites));
            cargarFavoritos();
        }

    </script>
</head>
<body class="container">
    <h1 class="my-4">Bienvenido</h1>
    <div class="form-group">
        <label for="query">Canción a Buscar:</label>
        <input type="text" id="query" class="form-control">
        <div class="mt-2">
            <button onclick="buscarCancion()" class="btn btn-primary">Buscar</button>
            <button onclick="mostrarJSON()" class="btn btn-secondary">Mostrar JSON</button>
        </div>
    </div>

    <!-- Filtros -->
    <div class="row">
        <div class="form-group col-4">
            <label for="artistFilter">Filtrar por Artista:</label>
            <select id="artistFilter" class="form-control" onchange="filtrarCanciones()">
                <option value="">Todos los artistas</option>
            </select>
        </div>
        <div class="form-group col-4">
            <label for="songFilter">Filtrar por Canción:</label>
            <input type="text" id="songFilter" class="form-control" onkeyup="filtrarCanciones()">
        </div>
        <div class="form-group col-2 align-self-end">
            <button onclick="reiniciarTabla()" class="btn btn-warning">Reiniciar tabla</button>
        </div>
    </div>

    <!-- Tabla de canciones buscadas -->
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Artista</th>
                <th>Canción</th>
                <th>Imagen</th>
                <th>Vista previa</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody id="results">
        </tbody>
    </table>

    <!-- Tabla de canciones favoritas -->
    <h2 class="my-4">Canciones Favoritas</h2>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Artista</th>
                <th>Canción</th>
                <th>Imagen</th>
                <th>Vista previa</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody id="favorites">
        </tbody>
    </table>

    <!-- Modal para mostrar JSON -->
    <div class="modal fade" id="jsonModal" tabindex="-1" aria-labelledby="jsonModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="jsonModalLabel">JSON de la Búsqueda</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <pre id="jsonContent"></pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            cargarFavoritos();
        });
    </script>
</body>
</html>